*.zip
**/bins\ for\ windows

**/sdl/minesweeper/
**/sdl/minesweeper/*

**/sdl/obel2d/
**/sdl/obel2d/*

**/sdl/statusbar/
**/sdl/statusbar/*

**/sdl/chess/
**/sdl/chess/*

**/sdl/windows-obel2d/
**/sdl/windows-obel2d/*

cpp/neural network/dataset/
cpp/neural network/dataset/*

cpp/openGL/obel2d3d/
cpp/openGL/obel2d3d/*
